@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



body {
    background-color: #3c2175;
}

.App {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.input-group {
    width: 60%;
}

.card {
    max-width: 70%;
}

.cities-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}

.city-button {
    background: none;
    border: none;
    color: #fff;
}

.city-button:hover {
    color: rgb(46, 89, 180);
}

.city-button:active {
    color: rgb(17, 47, 112);
}

.navbar {
    background-color: #664d9c;
}

.card {
    background: #4a3872;
}
